# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/
.env
*.log

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Project specific
client/dist/
client/build/
server/model/*.pkl
server/dataset/*
!server/dataset/.gitkeep 